@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Header*/
.header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
   
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   
}

.header .logo img{
    height: 6rem;
}

.header .navbar {
    margin: 0.1rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    display: inline-block;
}

.header .icon div {
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 2rem;
}

/*Slider-2*/

/*Cards*/

.Container-cards .titles {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.Container-cards__cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Container-cards {
    width: 100%;
    height: auto;/*ALTO DE LA PAGINA CON LAS TARJETAS*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Container-cards .card {
    width: 20%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    background-color: #f7f7f7;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.Container-cards .card img {
    border-radius: 1.5em;
    padding: 16px;
    width: auto;
    height: 220px;
    margin-bottom: 10px;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}



.Container-cards .card p {
    text-align: justify;
    padding: 0 3rem;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.9;

}

/*Footer*/
.footer {
    width: 100%;
    background-color: white;
}

.footer .footer-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .informacion {
   text-align: center;
}
.footer .footer-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-1 .box figure img {
    width: auto;
}

.footer .footer-1 .box h2 {
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .footer-1 .box p {
    color: black;
    margin-bottom: 20px;
    justify-content: space-between;
}


.footer .footer-1 .red-social a {
    
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 5px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}